
.about-container {
  font-family: "Lucida Console", Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-header h1 {
  font-size: 2.5em;
  color: #feede0;
  margin-bottom: 20px;
}

.about-header p {
  font-size: 1.2em;
  color: #8892b0;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.about-card {
  background: #112240;
  padding: 20px;
  font-family: 'Montserrat', sans-serif; /* Updated font */;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(2, 12, 27, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(50% - 40px);
  min-width: 280px;
}

.about-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(49, 112, 230, 0.4);
}

.about-card h2 {
  font-size: 1.5em;
  color: #213e97;
  margin-bottom: 10px;
}

.about-card h3 {
  font-size: 1.2em;
  color: #8892b0;
  margin-bottom: 10px;
}

.about-card p {
  font-size: 1em;
  color: #ccd6f6;
  margin-bottom: 10px;
}
